@charset "ISO-8859-1";
h1{
    padding: 20px;
}
form{
    background-color: rgb(53, 54, 66); 
    color: white;
    text-align: center; 
    margin:20px 400px;
    height: 300px;
    border-radius: 5px;
}
div{
    padding: 20px;
}
#boton {
    padding: 13px;
    background-color: #285ad8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}
#boton1 {
    padding: 13px;
    background-color: #1e9b12;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}
#boton2 {
    padding: 13px;
    background-color: #cb1010;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 13px;
}